<launch>
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

    <rosparam file="$(find quadrotor_navigation)/config/costmap_common.yaml" command="load" />
    <rosparam file="$(find quadrotor_navigation)/config/local_costmap.yaml" command="load" />
    <rosparam file="$(find quadrotor_navigation)/config/global_costmap.yaml" command="load" />
    <rosparam file="$(find quadrotor_navigation)/config/base_local_planner.yaml" command="load" />
  </node>
</launch>

